<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <title>NextGame</title>
</head>
<body>

    <div id="top-panel">
        <div id="group-members">Group Members: Chang Wei: cw887, Qichen Hu: qh75, Yuwen Cai: yc687, Yitian Lin: yl698</div>
        <div>NextGame:
            <a href="/index">Home</a> |
            <a href="/login">Login</a> |
            <a href="/search">Search</a> |
            <a href="/videos">Videos</a>
        </div>
    </div>
    <hr id="top-bar">
    {% block content %} {% endblock %}

</body>
</html>