{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="placeholder"></div>
            <div class="placeholder"></div>
            <h1 class="display-2 text-white search-title">NEXTGAME</h1>
            <p class="text-white-50 lead">&nbsp;Find your next favorite game via books/movies/games you enjoy. Apply
                tags to further adjust to your quirks. <strong>Steam games only.</strong></p>
            <div class="placeholder"></div>
            <div class="card search-card">
                <div class="card-body">
                    <div class="row justify-content-md-center">
                        <div class="col-11">
                            <form id="search-form" action="" method="post" novalidate>
                                {{ form.hidden_tag() }}
                                <div class="row search-card-row">
                                    <div class="col-2">
                                        <span><strong>PLAYERS: </strong></span>
                                    </div>
                                    {% set icons=['bi bi-person-fill text-primary', 'bi bi-people-fill text-primary',
                                            'bi bi-check-all text-primary'] %}
                                    {% for subfield in form.players %}
                                    <div class="col-3">
                                        {{ subfield(class="form-check-input") }}
                                        {{ subfield.label(class="form-check-label") }}
                                        <i class="{{ icons[loop.index0] }}"></i>
                                    </div>
                                    {% endfor %}
                                    {% for error in form.players.errors %}
                                        <div class="col-6 align-self-center" style="color:red">{{ [error] }}</div>
                                    {% endfor %}
                                </div>

{#                                    <div class="col-3">#}
{#                                        <input class="form-check-input" type="radio" name="playerType"#}
{#                                            id="playerTypeSingle" value="single">#}
{#                                        <label class="form-check-label" for="playerTypeSingle">#}
{#                                            <i class="bi bi-person-fill text-primary"></i> single-player#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <div class="col-3">#}
{#                                        <input class="form-check-input" type="radio" name="playerType"#}
{#                                            id="playerTypeMulti" value="multi">#}
{#                                        <label class="form-check-label" for="playerTypeMulti">#}
{#                                            <i class="bi bi-people-fill text-primary"></i> multi-player#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <div class="col-3">#}
{#                                        <input class="form-check-input" type="radio" name="playerType"#}
{#                                            id="playerTypeBoth" value="both">#}
{#                                        <label class="form-check-label" for="playerTypeBoth">#}
{#                                            <i class="bi bi-check-all text-primary"></i> Both#}
{#                                        </label>#}
{#                                    </div>#}


                                <div class="row search-card-row">
                                    <div class="col-2">
                                        <span><i class="bi bi-ui-checks"></i> <strong>GENRE: </strong></span>
                                    </div>
                                    <div class="col-10">
                                        {{ form.genres(class="search-tag-input")}}
{#                                        <input class="search-tag-input" id="gameGenre" name="gameGenre"#}
{#                                            aria-describedby="genreHelp">#}
                                        <small id="genreHelp" class="form-text text-muted">Enter <b>game</b> genres you
                                            are interested in</small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-auto">
                                        <strong>PIECES YOU ENJOY: </strong></span>
                                    </div>
                                </div>

                                <div class="precision-placeholder"></div>

                                <div class="row">
                                    <div class="col-2">
                                        <label for="booksEnjoy" class="form-label"><i
                                                class="bi bi-book text-primary"></i> Book</label>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" disabled id="booksEnjoy" class="form-control"
                                            placeholder="Not Supported Yet">
                                    </div>
                                </div>

                                <div class="precision-placeholder"></div>

                                <div class="row">
                                    <div class="col-2">
                                        <label for="movies" class="form-label"><i
                                                class="bi bi-tv text-primary"></i> Movie</label>
                                    </div>
                                    <div class="col-10">
                                        {{ form.movie(class="search-tag-input") }}
{#                                        <input class="search-tag-input" id="movieEnjoy" name="movieEnjoy">#}
                                        {% for error in form.movie.errors %}
                                            <span style="color:red">{{ [error] }}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="precision-placeholder"></div>

                                <div class="row">
                                    <div class="col-2">
                                        <label for="gamesEnjoy" class="form-label"><i
                                                class="bi bi-suit-spade text-primary"></i> Game</label>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" disabled id="gamesEnjoy" class="form-control"
                                            placeholder="Not Supported Yet">
                                    </div>
                                </div>


                                <div class="row search-card-row">
                                    <div class="col-2">
                                    </div>
                                    <div class="col-10">
                                        <small class="form-text text-muted"><b>We will recommend you games based on
                                            books/movies/games you already enjoy.</b></small>
                                    </div>
                                </div>

                                <div class="row search-card-row">
                                    <div class="col-2">
                                        <strong><i class="bi bi-tags-fill"></i> TAGS: </strong></span>
                                    </div>
                                    <div class="col-10">
{#                                        <input class="search-tag-input" name="gameTags" id="gameTags"#}
{#                                            aria-describedby="tagHelp">#}
                                        {{ form.tags(class="search-tag-input") }}
                                        <small id="tagHelp" class="form-text text-muted">Enter other random traits you
                                            want your game to have. <b>Supports up to tags with 5 words.</b></small>
                                        {% for error in form.tags.errors %}
                                            <span style="color:red">{{ [error] }}</span>
                                        {% endfor %}

                                    </div>
                                </div>
                                {{ form.submit(class="btn btn-info") }}

{#                                <button type="submit" class="btn btn-primary">Submit</button>#}

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form class="form-inline global-search">
{#    {% if data %}#}
{#        <h1>{{output_message}}</h1>#}
{#        {% for d in data %}#}
{#            <br>#}
{#            <p>{{d}}</p>#}
{#        {% endfor %}#}
{#    {% endif %}#}
    </form> -->
{% endblock %}

{% block script %}
<script>
    {#$('#search-form').submit(false);#}

    let genres = {{ genres | tojson }};
    let genreInput = document.querySelector('input[id=genres]');
    let genreTagify = new Tagify(genreInput, {
        enforceWhitelist: true,
        whitelist: genres,
        dropdown: {
            classname: "color-blue",
            enabled: 0,
            highlightFirst: true
        },
        editTags: false,
        templates: {
            dropdownItemNoMatch: function (data) {
                return `
                    No suggestion found, please enter valid items only.
                `
            }
        }
    });

    let movies = {{ mv_names | tojson }};
    let movieInput = document.querySelector('input[id=movie]');
    let movieTagify = new Tagify(movieInput, {
        mode: 'select',
        whitelist: movies,
        dropdown: {
            classname: "color-blue",
            enabled: 0,
            highlightFirst: true
        },
        templates: {
            dropdownItemNoMatch: function (data) {
                return `
                    No suggestion found, please enter valid items only.
                `
            }
        }
    });
    movieTagify.on('add', onMovieAdd);
    function onMovieAdd(e) {
        if (!movies.includes(e.detail.data.value)) {
            movieTagify.removeAllTags();
        }
    }
    let tagInput = document.querySelector('input[id=tags]');
    let tagTagify = new Tagify(tagInput, {
        pattern: /^(?:\b\w+\b[\s\r\n]*){1,5}$/,
        transformTag: transformTag,
    });


    function transformTag(tagData) {
        tagData.value = tagData.value.replace(/  +/g, ' ');;
    }

</script>
{% endblock %}