{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-10">
            <div class="placeholder"></div>
            <div class="placeholder"></div>
            <h1 class="display-2 text-white search-title">NEXTGAME</h1>
            <p class="text-white-50 lead">&nbsp;Find your next favorite game via books/movies/games you enjoy. Apply
                tags to further adjust to your quirks</p>
            <div class="placeholder"></div>
            <div class="card search-card">
                <div class="card-body">
                    <div class="row justify-content-md-center">
                        <div class="col-11">
                            <form>
                                <div class="row search-card-row">
                                    <div class="col-auto">
                                        <span><strong>PLAYERS: </strong></span>
                                    </div>

                                    <div class="col-2">
                                        <input class="form-check-input" type="radio" name="playerType"
                                            id="playerTypeSingle">
                                        <label class="form-check-label" for="playerTypeSingle">
                                            <i class="bi bi-person-fill text-primary"></i> single-player
                                        </label>
                                    </div>
                                    <div class="col-2">
                                        <input class="form-check-input" type="radio" name="playerType"
                                            id="playerTypeMulti">
                                        <label class="form-check-label" for="playerTypeMulti">
                                            <i class="bi bi-people-fill text-primary"></i> multi-player
                                        </label>
                                    </div>
                                </div>

                                <div class="row search-card-row">
                                    <div class="col-auto">
                                        <span><i class="bi bi-ui-checks"></i> <strong>GENRE: </strong></span>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="gameGenre">
                                    </div>
                                </div>

                                <div class="row search-card-row">
                                    <div class="col-auto">
                                        <strong>PIECES YOU ENJOY: </strong></span>
                                    </div>
                                    <div class="col-auto">
                                        <label for="booksEnjoy" class="form-label"><i class="bi bi-book text-primary"></i> Books</label>
                                        <input type="text" class="form-control" id="booksEnjoy">
                                    </div>
                                    <div class="col-auto">
                                        <label for="moviesEnjoy" class="form-label"><i class="bi bi-tv text-primary"></i> Movies</label>
                                        <input type="text" class="form-control" id="moviesEnjoy">
                                    </div>
                                    <div class="col-auto">
                                        <label for="gamesEnjoy" class="form-label"><i class="bi bi-suit-spade text-primary"></i> Games</label>
                                        <input type="text" class="form-control" id="gamesEnjoy">
                                    </div>
                                </div>

                                <div class="row search-card-row">
                                    <div class="col-auto">
                                        <strong><i class="bi bi-tags-fill"></i> TAGS: </strong></span>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" id="gameTags">
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form class="form-inline global-search">
    {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
            <br>
            <p>{{d}}</p>
        {% endfor %}
    {% endif %}
    </form> -->
{% endblock %}