{% extends "base.html" %}
{% block content %}
    <form class="form-inline global-search">
        <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            N
            <span style="color: #EA4335; ">e</span>
            <span style="color: #FBBC05; ">x</span>
            t
            <span style="color: #34A853; ">G</span>
            <span style="color: #EA4335; ">a</span>
            <span style="color: #EA4335; ">m</span>
            <span style="color: #EA4335; ">e</span>
        </h1>

        <br><br>
        <div class="form-group">
            <label for="num-player">Number of Players:</label>
            <select name="num-player" id="num-player">
              <option value="single">Single Player</option>
              <option value="multiple">Multiple Players</option>
            </select>
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <select name="genre" id="genre">
              <option value="adventure">Adventure</option>
              <option value="strategy">Strategy</option>
              <option value="sports">Sports</option>
              <option value="puzzle">Puzzle</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fav-movie">A Favorite Movie:</label>
            <input id="fav-movie" type="text" name="search" class="form-control" placeholder="Your Favorite Movie's Name">
        </div>
        <div class="form-group">
            <label for="keywords">Keywords:</label>
            <input id="Keywords" type="text" name="search" class="form-control" placeholder="Tags">
        </div>
<!--        <button type="submit" class="btn btn-info"> Go! </button>-->
    </form>
    <form class="form-inline global-search">
    {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
            <br>
            <p>{{d}}</p>
        {% endfor %}
    {% endif %}
    </form>
{% endblock %}